{{define "title"}}Add a New Dupe{{end}}

{{define "main"}}
<form action="/dupe/create" method="POST">
    <div>
        <label>Dupe:</label>
        <input type="text" name="dupe">
    </div>
    <div>
        <label>Content:</label>
        <textarea name="content"></textarea>
    </div>
    <div>
        <label>Delete in:</label>
        <input type="radio" name="expires" value="365"> One Year
        <input type="radio" name="expires" value="7"> One Week
        <input type="radio" name="expires" value="1"> One Day
    </div>
    <div>
        <input type="submit" value="Publish Dupe">
    </div>
</form>
{{end}}